services:
  - type: web
    name: evolution
    plan: free
    runtime: image
    image:
      url: docker.io/evoapicloud/evolution-api:latest
    envVars:
      - key: PORT
        value: 8080
      - key: AUTHENTICATION_API_KEY
        sync: false
      # Render setea solo tu URL pública:
      - key: SERVER_URL
        fromService:
          name: evolution
          type: web
          envVarKey: RENDER_EXTERNAL_URL
      # Postgres
      - key: DATABASE_ENABLED
        value: "true"
      - key: DATABASE_PROVIDER
        value: postgresql
      - key: DATABASE_CONNECTION_URI
        sync: false
      # Valkey/Redis
      - key: CACHE_REDIS_ENABLED
        value: "true"
      - key: CACHE_REDIS_URI
        sync: false
      - key: CACHE_REDIS_PREFIX_KEY
        value: evolution
      - key: CACHE_REDIS_SAVE_INSTANCES
        value: "true"
      # CORS abierto (ajustalo si querés)
      - key: CORS_ORIGIN
        value: "*"
